@import "../../libs/normalize.css/normalize.css";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}

body {
  margin: 0;
  color: #2d3651;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-family: "Roboto Slab";
  font-size: 3.75rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  min-height: 60px;
  letter-spacing: 0.1em;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
.header-menu__container, .header-content__container {
  max-width: 1340px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100vh;
  padding: 150px 0;
  color: #ffffff;
  background-color: #2d3651;
  background-image: url("../img/img-header.png");
  background-position: center;
  background-size: cover;
}

.header-logo {
  padding: 20px 20px 20px 0;
  letter-spacing: 0.25em;
  font-size: 1.5rem;
}
.header-logo__accent {
  display: inline-block;
  margin-right: 4px;
  padding: 14px 1px 13px 5px;
  border: 3px solid #d53d27;
}

.header-content {
  position: relative;
  z-index: 1;
  top: 0;
}
.header-content__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.header-content__title {
  text-align: center;
}

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header-navbar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-navbar__btn {
  display: none;
}
.header-navbar__list {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-navbar__item {
  margin: 20px 10px;
}
.header-navbar__link {
  display: block;
  padding: 20px 10px;
  letter-spacing: 0.1em;
  font-size: 1.125rem;
}

.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background-color: #2d3651;
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .header-content__title {
    margin: 0 0 66px;
  }
}